/* src/styles/Login.css */
.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #141414;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.login-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.login-container input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #333;
  background-color: #333;
  color: #ffffff;
  border-radius: 3px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #e50914;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.login-container button:hover {
  background-color: #f40612;
}
